*{
}

.signup-page{
    height: 100%;
    width: 100%;
    top: 0;
    gap: 2rem;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: fixed;
    min-height: 100vh;
    background: radial-gradient(circle at bottom right, #6474E5, #9AA4Ec, #d9c6f8);
}

.circle-right {
    position: absolute;
    background: radial-gradient(circle at bottom right, #6474E5, #9AA4Ec, #F8C8c6);
    width: 3000px;
    height: 3000px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-10%, -80%);
    z-index: -1;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
}


.signup-wrapper{
    background: white;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #003049;
    border-radius: 10px;
    padding: 30px 40px;
    margin: 1.3rem;
}

.signup-wrapper h1{
    color: #003049;
    font-size: 36px;
    text-align: center;
    margin-bottom: 2.5rem;
}

.signup-wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

input{
    margin-top: -10px;
}


.input-box input{
    padding-left: 10px;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: black;
    cursor: pointer; /* Change cursor to pointer */
}


.input-box input:focus {
    cursor: text; /* Change cursor to text when input is in focus */
}

.input-box input::placeholder{
    color: black
}

.input-box .icon{
    position: absolute;
    right: 20px;
    top: 35%;
    transform: translateY(-50%);
}

.signup-wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input{
    accent-color: #003049;
    margin-right: 4px;
}

.remember-forgot a{
    color: #003049;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.signup-wrapper button{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
}

.signup-wrapper button:hover {
    letter-spacing: 1px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

.signup-wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
}

.signup-register-link p a {
    color: rgb(93 24 220);
    text-decoration: none;
    font-weight: 600;
}

.signup-register-link p a:hover {
    text-decoration: underline;
}

.input-row {
    display: flex;
}

.input-row .input-box {
    display: flex;
    justify-content: space-between; /* Distribute space between input boxes */
    margin-top: -10px;
    margin-right: 10px;
    margin-bottom: -10px;
    
}

/* Additional margin to the last name input */
.input-row .input-box:last-child {
    margin-right: -5px; /* Remove margin from the last input box */
}