.user-goals{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50%;
    padding: 0em 1rem 4rem 2rem;
}

.user-goals-container{
    position: relative; 
    padding: 2em 2rem 4rem 2rem;
    background: white;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #003049;
    border-radius: 50px;
}

.user-goals h2 {
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
    color: darkgray;
    font-family: "Poppins";
}
  
.goal-item-container {
    position: relative;
    top: 20px;
    gap: 1rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: #EAECFF; 
    padding: 20px; 
    border-radius: 10px;
    font-family: "Poppins";
  }
  
.goal-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 75px;
    width: 350px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 400ms;
    background: #3C3852;
  }
  
  .completed-goal {
    color: #3C3852;
    font-weight: bold;
    background-color: #EBAB33;
  }